<h1><%= @welcome_message %></h1>
<h2><%= link_to "Student List", classrooms_students_path %></h2>
<p><%= link_to 'Pick a random student', classrooms_random_student_path(student: @random_student) %></p>
<hr><br>
<p><%= link_to 'GitHub code', 'https://github.com/nax3t/iX-Classroom-App' %></p>

