<h4>Annndddd the randomly selected student isss...</h4>
<h1><%= @random_student %></h1>
<p><%= button_to 'Generate another', classrooms_random_student_path, { method: :get } %></p>
<p><%= link_to 'Home', root_path %> | <%= link_to 'Students List', classrooms_students_path %></p>