<h1>Students:</h1>
<h3><%= link_to 'Pick a random student', classrooms_random_student_path(student: @random_student) %></h3>
<ul>
	<% @students.each do |classmate| %>
		<li><%= classmate %></li>
	<% end %>
</ul>
<%= link_to '< Home', classrooms_index_path %>