<h1>Students:</h1>
<p><%= button_to 'Pick a random student', classrooms_random_student_path, { method: :get } %>
<ul>
	<% @students.each do |classmate| %>
		<li><%= classmate %></li>
	<% end %>
</ul>
<%= link_to '< Home', classrooms_index_path %>