// Place all the styles related to the Classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr {
	width: 50%; float: left;
}